<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Berners-lee</title>
</head>
<body>
    <h1>Tim Berners-Lee</h1>
    <img id='img' src="/img/Sir_Tim_Berners-Lee_(cropped).jpg" alt="Imagen de Berners Lee">
    <p>Timothy "Tim" John Berners-Lee (Londres, Reino Unido, 8 de junio de 1955), conocido como Tim Berners-Lee, es un científico de la computación británico, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.

        Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) y el sistema de localización de objetos en la web URL (Uniform Resource Locator).
        
        Es posible encontrar muchas de las ideas plasmadas por Berners-Lee en el proyecto Xanadú (que propuso Ted Nelson) y el memex (de Vannevar Bush). </p>
<h2>Desarroyo de su carrera</h2>
<img src="/img/pc.jpg" alt="Computadora">
<p>Berners-Lee usó esta NeXTcube en el CERN, y fue el primer servidor web del mundo.</p>
<p>Berners-Lee trabajó en el CERN desde junio hasta diciembre de 1980 6​. Durante ese tiempo, propuso un proyecto basado en el hipertexto para facilitar la forma de compartir y la puesta al día de la información entre investigadores. En este periodo también construyó un programa llamado ENQUIRE que no llegó a ver la luz.7​

    Después de dejar el CERN, en 1980, se fue a trabajar a la empresa de John Poole Image Computer Systems Ltd., pero regresó al CERN otra vez en 1984.
    
    En 1989, el CERN era el nodo de Internet más grande de Europa y Berners-Lee vio la oportunidad de unir Internet y el hipertexto (HTTP y HTML), de lo que surgiría la World Wide Web. Desarrolló su primera propuesta de la Web el 12 de marzo de 1989,8​ pero no tuvo mucho eco, por lo que en 1990 y con la ayuda de Robert Cailliau, hicieron una revisión que fue aceptada por su gerente, Mike Sendall. Usó ideas similares a las que había usado en el sistema Enquire, para crear la World Wide Web, para esto diseñó y construyó el primer navegador (llamado WorldWideWeb y desarrollado con NEXTSTEP) y el primer servidor Web al que llamó httpd (HyperText Transfer Protocol daemon).
    
    El primer servidor Web se encontraba en el CERN y fue puesto en línea el 6 de agosto de 1991. Esto proporcionó una explicación sobre lo que era el World Wide Web, cómo uno podría tener un navegador y cómo establecer un servidor Web. Este fue también el primer directorio Web del mundo, ya que Berners-Lee mantuvo una lista de otros sitios Web aparte del suyo. Debido a que tanto el software del servidor como del cliente fue liberado de forma gratuita desde el CERN, el corazón de Internet Europeo en esa época, su difusión fue muy rápida. El número de servidores Web pasó de veintiséis en 1992 a doscientos en octubre de 1995 lo que refleja cual fue la velocidad de la difusión de internet.
    
    En 1994 entró en el Laboratorio de Ciencias de la Computación e Inteligencia Artificial del Massachusetts Institute of Technology. Se trasladó a EE. UU. y puso en marcha el W3C, que dirige actualmente. El W3C es un organismo internacional de estandarización de tecnologías Web dirigido conjuntamente por el Instituto Tecnológico de Massachusetts, el ERCIM francés y la Universidad de Keiō en Japón. Este organismo decidió que todos sus estándares fuesen libres, es decir, que los pudiese utilizar todo el mundo libremente sin coste alguno, lo que sin lugar a dudas fue una de las grandes razones para que la Web haya llegado a tener la importancia que tiene hoy en día.
    
    En su libro Tejiendo la red, publicado en 1999, Berners-Lee explica por qué la tecnología web es libre y gratis. Se considera al mismo tiempo el inventor y el protector de la web[cita requerida].
    
    Berners-Lee fue uno de las pioneros en favor de la neutralidad de red.9</p>
     
<h2>Proyectos actuales</h2>
<p>Tim Berners-Lee fue crítico con las expectativas generadas alrededor de la Web 2.0 cuando se argumentó sobre esta plataforma que «si la web 1.0 conectaba ordenadores, la web 2.0 conecta personas». Tim opina que no se trata de una nueva generación de web sino una forma diferente y, eso si, mucho más capaz de desplegar aplicaciones sobre la misma plataforma de la web inventado por él. En este sentido, herramientas como las wikipedias o los blogs son unas herramientas que fomentan y potencian la participación y colaboración, pero, de hecho, no hay ningún componente tecnológico base que no existiera desde bastantes años antes.10​

    Berners-Lee desarrolló el concepto de intercreatividad considerado un aspecto vital del futuro de la web y que definía como:
    
        El proceso de hacer cosas o resolver problemas juntos. […] tenemos que ser capaces no solo de encontrar cualquier tipo de documento en la web, sino también de crear cualquier tipo de documento, fácilmente […] Tendríamos que ser capaces no solo de interaccionar con otras personas, sino crear con otras personas.
        [Berners-Lee 1999]11​
    
    Desde 1998, Tim Berners-Lee trabaja en el proyecto de la web semántica,12​ que tiene como objetivo crear un medio universal para el intercambio de información significativa (semántica), de una forma comprensible para las máquinas, del contenido de los documentos de la Web. Con esto se pretende ampliar la interoperabilidad de los sistemas informáticos y reducir la mediación de los operadores humanos en los procesos inteligentes de flujo de información. La misma concepción de la web como medio universal de presentación tenía la orientación de que fuera interpretable por los humanos y, por lo tanto, tiene una orientación visual. Este aspecto resta capacidad para el intercambio de información entre máquinas reduciendo las posibilidades de acceso a la información de forma sistemática e industrializada.13​
    
    Véase también: Web semántica
    
    Berners-Lee es el presidente del Open Data Institute,14​ que cofundó con Nigel Shadbolt in 2012. </p>
    <a href="/">Inicio</a>
</body>
</html>