<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hamilton</title>
</head>
<body>
<h1>Margaret Hamilton</h1>
<img id='img' src="/img/Alexander_Hamilton.jpg" alt="Imágend de Hamilton">
<p>Margaret Hamilton (17 de agosto de 1936) es una científica computacional, matemática e ingeniera de Software.

    Fue directora de la División de Ingeniería de Software del Laboratorio de Instrumentación del MIT,1​ donde con su equipo desarrolló el software de navegación "on-board" para el Programa Espacial Apolo.2​3​4​ En 1986, se convirtió en la fundadora y CEO de Hamilton Technologies, Inc. en Cambridge, Massachusetts. La compañía se desarrolló alrededor del lenguaje universal de sistemas basada en su paradigma de "desarrollo antes del hecho" (DBTF, del inglés Development Before the Fact) para sistemas de diseño de software.5​ Acuñó el término «ingeniería de software» para distinguir entre el trabajo de hardware y otras ingenierías. A pesar de que su idea no fue bien recibida al inicio, eventualmente el software generó el mismo respeto que otras disciplinas.6​7​
    
    El 22 de noviembre de 2016, Hamilton recibió la Medalla Presidencial de la Libertad, entregada por el expresidente de Estados Unidos Barack Obama, por su trabajo en la NASA durante las misiones Apolo.8​9​
    
    Su enfoque del diseño de software fue pionero para la época, ya que los requisitos de robustez y tolerancia a fallos eran una prioridad para la seguridad y supervivencia de los astronautas durante los viajes a la Luna, es por esto que para muchos Margaret Hamilton es considerada una de las primeras personas en convertirse en Ingeniera de Confiabilidad del Sitio (del inglés Site Reliability Engineer).10​ </p>
<h2>Biografía</h2>
<p>Hija de Ruth Esther Partington y Kenneth Heafield,11​ fue educada en un ambiente familiar con un padre filósofo-poeta y abuelo pastor cuáquero que la alentó a estudiar y a ser lo que ella quería ser.12​

    Conoció a su marido (del cual se divorció más tarde)13​ James Cox Hamilton mientras estudiaba en Earlham College y se casaron a finales de los años 1950 después de obtener su licenciatura. Tienen una hija llamada Lauren.
    
    Tras licenciarse en Matemáticas, quiso seguir estudiando, pero tuvo que dejar sus estudios durante un periodo de tiempo para que su marido terminara su carrera en Harvard, y trabajar de profesora de matemáticas y francés en un instituto.14</p>
<h2>Trayectoria profesional</h2>
<p>Se mudó a Massachusetts con la intención de hacer estudios de postgrado en Brandeis, pero en lugar de ello tomó un puesto en el MIT como desarrolladora de software. De 1961 a 1963, trabajó para el Proyecto Sage Philco-Ford, donde usó radares para seguir trayectorias de aeronaves desconocidas. También escribió código para el Laboratorio de Investigación Cambridge de la Fuerza Aérea. Trabajó para ganar experiencia de primera mano en una época donde las ciencias computacionales y la ingeniería de software no existían ni como disciplinas, ni como cursos universitarios.

    Margaret Hamilton era parte del Charles Stark Draper Laboratory en el MIT, donde en 1965 se convirtió en la responsable del desarrollo del software de vuelo a bordo de las computadoras de la misión Apolo27​ en el que trabajaba el equipo del laboratorio,28​ y posteriormente dirigió y supervisó los desarrollos de la misión de la estación espacial Skylab.29​ </p>
    <a href="/">Inicio</a>
</body>
</html>