<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heroes</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
   <h1>Heroínas y Héroes Tecnológicos</h1> 
  <ul>
      <li><a href="/babbage">Charles Babbage</a></li>
      <li><a href="/berners-lee">Tim Berners Lee</a></li>
      <li><a href="/clarke">Joan Clarke</a></li>
      <li><a href="/hamilton">Margaret Hamilton</a></li>
      <li><a href="/hopper">Grace Murray Hopper</a></li>
      <li><a href="/lovelace">Ada Lovelace</a></li>
      <li><a href="/turing">Alan Turing</a></li>
  </ul> 
</body>
</html>