<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Turing</title>
</head>
<body>
    <h1>Alan Turing</h1>
    <img id='img' src="/img/turing.jpg" alt="Imágen de Turing">
    <p>Alan Mathison Turing (Paddington, Londres; 23 de junio de 1912-Wilmslow, Cheshire; 7 de junio de 1954), fue un matemático, lógico, informático teórico, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico.1​2​3​4​5​

        Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).
        
        Durante la segunda guerra mundial, trabajó en descifrar los códigos nazis, particularmente los de la máquina Enigma, y durante un tiempo fue el director de la sección Naval Enigma de Bletchley Park. Se ha estimado que su trabajo acortó la duración de esa guerra entre dos y cuatro años.6​ Tras la guerra, diseñó uno de los primeros computadores electrónicos programables digitales en el Laboratorio Nacional de Física del Reino Unido y poco tiempo después construyó otra de las primeras máquinas en la Universidad de Mánchester.
        
        En el campo de la inteligencia artificial, es conocido sobre todo por la concepción de la prueba de Turing (1950), un criterio según el cual puede juzgarse la inteligencia de una máquina si sus respuestas en la prueba son indistinguibles de las de un ser humano.
        
        La carrera de Turing terminó súbitamente tras ser procesado por homosexualidad en 1952. Dos años después de su condena, murió —según la versión oficial por suicidio; sin embargo, su muerte ha dado lugar a otras hipótesis, incluida la del envenenamiento accidental —. El 24 de diciembre de 2013, la reina Isabel II del Reino Unido promulgó el edicto por el que se exoneró oficialmente al matemático, quedando anulados todos los cargos en su contra.7</p>
    <h2>Biografía</h2>
    <p>Turing nació en Maida Vale, Londres,8​ aunque fue concebido en Chatrapur (India británica). Su padre Julius Mathison Turing (1873-1944) era miembro del cuerpo de funcionarios británicos en la India, donde estaba de permiso en su puesto en el Indian Civil Service (ICS) en la entonces Presidencia de Madrás y actualmente estado de Odisha. Julius y su esposa Ethel querían que su hijo Alan naciera en el Reino Unido y regresaron a Paddington, donde finalmente nació. </p>
    <h3>Estudios</h3>
    <p>Entre enero de 1922 y 1926, Turing estudió en la preparatoria Hazelhurst, una escuela independiente en el pueblo de Frant en Sussex (hoy East Oriental).10​

        En 1926, con catorce años, ingresó en el internado de Sherborne en Dorset. Su primer día de clase coincidió con una huelga general en Inglaterra, pero su determinación por asistir a clase era tan grande que recorrió en solitario, con su bicicleta, los más de 96 km que separaban Southampton de su escuela, pasando la noche en una posada. Tal hazaña fue recogida en la prensa local.11​
        
        La inclinación natural de Turing hacia la matemática y la ciencia no le atrajo el respeto de sus profesores de Sherborne, cuyo concepto de educación hacía mayor énfasis en los clásicos. En la escuela de Sherbone, ganó la mayor parte de los premios matemáticos que se otorgaban y, además, realizaba experimentos químicos por su cuenta aunque la opinión del profesorado respecto a la independencia y ambición de Turing no era demasiado favorable. A pesar de ello, Turing continuó mostrando una singular habilidad para los estudios que realmente le gustaban, y llegó a resolver problemas muy avanzados para su edad (16 años) sin ni siquiera haber estudiado cálculo elemental.12​ </p>
    <h3>La máquina de Turing</h3>
    <p>En su estudio Los números computables, con una aplicación al Entscheidungsproblem (publicado el 28 de mayo de 1936), Turing reformuló los resultados obtenidos por Kurt Gödel en 1931 sobre los límites de la demostrabilidad y la computación, sustituyendo al lenguaje formal universal descrito por Gödel por lo que hoy se conoce como máquina de Turing, unos dispositivos formales y simples.19​

        Turing demostró que dicha máquina era capaz de resolver cualquier problema matemático que pudiera representarse mediante un algoritmo. Las máquinas de Turing siguen siendo el objeto central de estudio en la teoría de la computación. Llegó a probar que no había ninguna solución para el problema de decisión, Entscheidungsproblem, demostrando primero que el problema de la parada para las máquinas de Turing es irresoluble: no es posible decidir algorítmicamente si una máquina de Turing dada llegará a pararse o no. Aunque su demostración se publicó después de la demostración equivalente de Alonzo Church respecto a su cálculo lambda, el estudio de Turing es mucho más accesible e intuitivo.20​ También fue pionero con su concepto de «máquina universal (de Turing)», con la tesis de que dicha máquina podría realizar las mismas tareas que cualquier otro tipo de máquina. Su estudio también introduce el concepto de números definibles.21</p>
    
        <a href="/">Inicio</a>
</body>
</html>